{% extends 'header.html' %}
{% block title %}Travel As You Go | Park Related to Activiy{% endblock %}

{% block body %}

				 <!-- Activity Detail Area Start-->
					<div class="row">

                  <div class="col-lg-2 col-sm-6"  >
                    <a href="/alphabet_data/a">
                    <div class="publish-lisiting-main">
                        <div class="lisiting-publish-dt">
                       <span id="sft">A</span>
                        </div>
                    </div>
                      </a>
                  </div>

                  <div class="col-lg-2 col-sm-6"  >
                    <a href="/alphabet_data/b">
                    <div class="publish-lisiting-main">
                        <div class="lisiting-publish-dt">
                          <span id="sft">B</span>
                        </div>
                    </div>
                      </a>
                  </div>

                  <div class="col-lg-2 col-sm-6"  >
                    <a href="/alphabet_data/c">
                    <div class="publish-lisiting-main">
                        <div class="lisiting-publish-dt">
                          <span id="sft">C</span>
                        </div>
                    </div>
                      </a>
                  </div>
                  <div class="col-lg-2 col-sm-6"  >
                    <a href="/alphabet_data/d">
                    <div class="publish-lisiting-main">
                        <div class="lisiting-publish-dt">
                          <span id="sft">D</span>
                        </div>
                    </div>
                      </a>
                  </div>
                  <div class="col-lg-2 col-sm-6"  >
                    <a href="/alphabet_data/e">
                    <div class="publish-lisiting-main">
                        <div class="lisiting-publish-dt">
                          <span id="sft">E</span>
                        </div>
                    </div>
                      </a>
                  </div>
                  <div class="col-lg-2 col-sm-6"  >
                    <a href="/alphabet_data/f">
                    <div class="publish-lisiting-main">
                        <div class="lisiting-publish-dt">
                          <span id="sft">F</span>
                        </div>
                    </div>
                      </a>
                  </div>
                  <div class="col-lg-2 col-sm-6"  >
                    <a href="/alphabet_data/g">
                    <div class="publish-lisiting-main">
                        <div class="lisiting-publish-dt">
                          <span id="sft">G</span>
                        </div>
                    </div>
                      </a>
                  </div>
                  <div class="col-lg-2 col-sm-6"  >
                    <a href="/alphabet_data/h">
                    <div class="publish-lisiting-main">
                        <div class="lisiting-publish-dt">
                          <span id="sft">H</span>
                        </div>
                    </div>
                      </a>
                  </div>
                  <div class="col-lg-2 col-sm-6"  >
                    <a href="/alphabet_data/i">
                    <div class="publish-lisiting-main">
                        <div class="lisiting-publish-dt">
                          <span id="sft">I</span>
                        </div>
                    </div>
                      </a>
                  </div>
                  <div class="col-lg-2 col-sm-6"  >
                    <a href="/alphabet_data/j">
                    <div class="publish-lisiting-main">
                        <div class="lisiting-publish-dt">
                          <span id="sft">J</span>
                        </div>
                    </div>
                      </a>
                  </div>
                  <div class="col-lg-2 col-sm-6"  >
                    <a href="/alphabet_data/k">
                    <div class="publish-lisiting-main">
                        <div class="lisiting-publish-dt">
                          <span id="sft">K</span>
                        </div>
                    </div>
                      </a>
                  </div>
                  <div class="col-lg-2 col-sm-6"  >
                    <a href="/alphabet_data/l">
                    <div class="publish-lisiting-main">
                        <div class="lisiting-publish-dt">
                          <span id="sft">L</span>
                        </div>
                    </div>
                      </a>
                  </div>
                  <div class="col-lg-2 col-sm-6"  >
                    <a href="/alphabet_data/m">
                    <div class="publish-lisiting-main">
                        <div class="lisiting-publish-dt">
                          <span id="sft">M</span>
                        </div>
                    </div>
                      </a>
                  </div>
                  <div class="col-lg-2 col-sm-6"  >
                    <a href="/alphabet_data/n">
                    <div class="publish-lisiting-main">
                        <div class="lisiting-publish-dt">
                          <span id="sft">N</span>
                        </div>
                    </div>
                      </a>
                  </div>
                  <div class="col-lg-2 col-sm-6"  >
                    <a href="/alphabet_data/o">
                    <div class="publish-lisiting-main">
                        <div class="lisiting-publish-dt">
                          <span id="sft">O</span>
                        </div>
                    </div>
                      </a>
                  </div>

                  <div class="col-lg-2 col-sm-6"  >
                    <a href="/alphabet_data/p">
                    <div class="publish-lisiting-main">
                        <div class="lisiting-publish-dt">
                          <span id="sft">P</span>
                        </div>
                    </div>
                      </a>
                  </div>
                  <div class="col-lg-2 col-sm-6"  >
                    <a href="/alphabet_data/q">
                    <div class="publish-lisiting-main">
                        <div class="lisiting-publish-dt">
                          <span id="sft">Q</span>
                        </div>
                    </div>
                      </a>
                  </div>
                  <div class="col-lg-2 col-sm-6"  >
                    <a href="/alphabet_data/r">
                    <div class="publish-lisiting-main">
                        <div class="lisiting-publish-dt">
                          <span id="sft">R</span>
                        </div>
                    </div>
                      </a>
                  </div>
                  <div class="col-lg-2 col-sm-6"  >
                    <a href="/alphabet_data/s">
                    <div class="publish-lisiting-main">
                        <div class="lisiting-publish-dt">
                          <span id="sft">S</span>
                        </div>
                    </div>
                      </a>
                  </div>
                  <div class="col-lg-2 col-sm-6"  >
                    <a href="/alphabet_data/t">
                    <div class="publish-lisiting-main">
                        <div class="lisiting-publish-dt">
                          <span id="sft">T</span>
                        </div>
                    </div>
                      </a>
                  </div>
                  <div class="col-lg-2 col-sm-6"  >
                    <a href="/alphabet_data/u">
                    <div class="publish-lisiting-main">
                        <div class="lisiting-publish-dt">
                          <span id="sft">U</span>
                        </div>
                    </div>
                      </a>
                  </div>
                  <div class="col-lg-2 col-sm-6"  >
                    <a href="/alphabet_data/v">
                    <div class="publish-lisiting-main">
                        <div class="lisiting-publish-dt">
                          <span id="sft">V</span>
                        </div>
                    </div>
                      </a>
                  </div>
                  <div class="col-lg-2 col-sm-6"  >
                    <a href="/alphabet_data/w">
                    <div class="publish-lisiting-main">
                        <div class="lisiting-publish-dt">
                          <span id="sft">W</span>
                        </div>
                    </div>
                      </a>
                  </div>
                  <div class="col-lg-2 col-sm-6"  >
                    <a href="/alphabet_data/x">
                    <div class="publish-lisiting-main">
                        <div class="lisiting-publish-dt">
                          <span id="sft">X</span>
                        </div>
                    </div>
                      </a>
                  </div>
                  <div class="col-lg-2 col-sm-6"  >
                    <a href="/alphabet_data/y">
                    <div class="publish-lisiting-main">
                        <div class="lisiting-publish-dt">
                          <span id="sft">Y</span>
                        </div>
                    </div>
                      </a>
                  </div>
                  <div class="col-lg-2 col-sm-6"  >
                    <a href="/alphabet_data/z">
                    <div class="publish-lisiting-main">
                        <div class="lisiting-publish-dt">
                          <span id="sft">Z</span>
                        </div>
                    </div>
                      </a>
                  </div>

								</div>


		  <!--content-wrapper End-->
<style media="screen">
  @media only screen and (max-width: 500px) {
  #sft{
    margin-left:100px;
  }
}
</style>
    {% endblock %}
