<!-- Bootstrap core CSS-->
<link href="../media/home/css/bootstrap.min.css" rel="stylesheet">
<link href="../media/home/css/style.css" rel="stylesheet">
<link href="../media/home/css/responsive.css" rel="stylesheet">
<link href="../media/home/css/svg.css" rel="stylesheet">
<link href="../media/home/css/photoswipe.css" rel="stylesheet">
<link href="../media/home/css/default-skin.css" rel="stylesheet">

<!-- Custom fonts for this template-->
<link href="../../../../www.gambolthemes.net/html-items/brexit/White/vendor/fontawesome-free/css/all.min.html" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="../../../../use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<!-- Page level plugin CSS-->
 <link rel="stylesheet" href="../media/home/css/portfolio.css" type="text/css">
 <link rel="stylesheet" href="../../../../www.gambolthemes.net/html-items/brexit/White/css/dropdown.html" type="text/css">
<link rel="stylesheet" href="../media/home/css/owlslider.css" type="text/css">
<link href='../../../../api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css' rel='stylesheet' />

<!-- Custom styles for this template-->
<link href="../media/home/css/themify-icons.css" rel="stylesheet">
<link href="../media/home/css/sb-admin.css" rel="stylesheet" type="text/css">
<link href="../media/home/css/font-awesome.css" rel="stylesheet" type="text/css">
<link href="../media/home/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="../media/home/assets/owlcarousel/assets/owl.carousel.min.css">
<link rel="stylesheet" href="../media/home/assets/owlcarousel/assets/owl.theme.default.min.css">
<link href="../media/assets/css/res_sidebar.css" rel="stylesheet" type="text/css">
<style media="screen">
@media only screen and (max-width: 500px) {
#sidebarToggle {
display: None;
}
}
@media only screen and (min-width: 500px) {
#st {
display: None
}
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
