{% extends 'header.html' %}
{% block title %}Travel As You Go | News{% endblock %}

{% block body %}
				 <!-- Profile Detail Area Start-->
					<div class="video-block section-padding">
						<div class="main-items">
							<div class="row justify-content-md-center">
								<div class="messages text-center col-md-12">
									Find Profiles
									<hr>
								</div>
								<div class="feedback col-md-12">
									<div class="search-people">
										<input type="search" class="search-people-input" placeholder="Search peoples...">
										<button class="people-search">Search</button>
									</div>
								</div>
							</div>
							<div class="my-all-lisitngs">
								<div class="row">
									<div class="col-lg-3 col-sm-12">
										<div class="my-listing-dt-all-follow">
											<div class=" my-lisiting-picy">
												<a href="user_detail_view.html"><img src="images/my_profile/dp-2.jpg" alt=""></a>
											</div>
											<a href="user_detail_view.html"><h4>Rock Smith</h4></a>
											<p> <i class="fas fa-map-marker-alt"></i>India </p>
											<div class="dashboard-main-dt-follow">
												<ul>
													<li>
														<div class="lisitng-dt2">
															<ins>15</ins>
															<span>Listings</span>
														</div>
													</li>
													<li>
														<div class="lisitng-dt2">
															<ins>150</ins>
															<span>Followers</span>
														</div>
													</li>
													<li>
														<div class="lisitng-dt2">
															<ins>265</ins>
															<span>Following</span>
														</div>
													</li>
												</ul>
											</div>
											<button class="folow-btn" type="button">Follow</button>
										</div>
									</div>
									<div class="col-lg-3 col-sm-12">
										<div class="my-listing-dt-all-follow">
											<div class=" my-lisiting-picy">
												<a href="user_detail_view.html"><img src="images/my_profile/dp-8.jpg" alt=""></a>
											</div>
											<a href="user_detail_view.html"><h4>Jassica William</h4></a>
											<p> <i class="fas fa-map-marker-alt"></i>Paris </p>
											<div class="dashboard-main-dt-follow">
												<ul>
													<li>
														<div class="lisitng-dt2">
															<ins>12</ins>
															<span>Listings</span>
														</div>
													</li>
													<li>
														<div class="lisitng-dt2">
															<ins>470</ins>
															<span>Followers</span>
														</div>
													</li>
													<li>
														<div class="lisitng-dt2">
															<ins>45</ins>
															<span>Following</span>
														</div>
													</li>
												</ul>
											</div>
											<button class="folow-btn" type="button">Follow</button>
										</div>
									</div>
									<div class="col-lg-3 col-sm-12">
										<div class="my-listing-dt-all-follow">
											<div class=" my-lisiting-picy">
												<a href="user_detail_view.html"><img src="images/my_profile/dp-3.jpg" alt=""></a>
											</div>
											<a href="user_detail_view.html"><h4>Johnson Dua</h4></a>
											<p> <i class="fas fa-map-marker-alt"></i>India </p>
											<div class="dashboard-main-dt-follow">
												<ul>
													<li>
														<div class="lisitng-dt2">
															<ins>1</ins>
															<span>Listings</span>
														</div>
													</li>
													<li>
														<div class="lisitng-dt2">
															<ins>110</ins>
															<span>Followers</span>
														</div>
													</li>
													<li>
														<div class="lisitng-dt2">
															<ins>185</ins>
															<span>Following</span>
														</div>
													</li>
												</ul>
											</div>
											<button class="folow-btn" type="button">Follow</button>
										</div>
									</div>
									<div class="col-lg-3 col-sm-12">
										<div class="my-listing-dt-all-follow">
											<div class=" my-lisiting-picy">
												<a href="user_detail_view.html"><img src="images/my_profile/dp-4.jpg" alt=""></a>
											</div>
											<a href="user_detail_view.html"><h4>Albert Smith</h4></a>
											<p> <i class="fas fa-map-marker-alt"></i>USA </p>
											<div class="dashboard-main-dt-follow">
												<ul>
													<li>
														<div class="lisitng-dt2">
															<ins>10</ins>
															<span>Listings</span>
														</div>
													</li>
													<li>
														<div class="lisitng-dt2">
															<ins>95</ins>
															<span>Followers</span>
														</div>
													</li>
													<li>
														<div class="lisitng-dt2">
															<ins>45</ins>
															<span>Following</span>
														</div>
													</li>
												</ul>
											</div>
											<button class="folow-btn" type="button">Follow</button>
										</div>
									</div>
									<div class="col-lg-3 col-sm-12">
										<div class="my-listing-dt-all-follow">
											<div class=" my-lisiting-picy">
												<a href="user_detail_view.html"><img src="images/my_profile/dp-7.jpg" alt=""></a>
											</div>
											<a href="user_detail_view.html"><h4>Zoena Singh</h4></a>
											<p> <i class="fas fa-map-marker-alt"></i>India </p>
											<div class="dashboard-main-dt-follow">
												<ul>
													<li>
														<div class="lisitng-dt2">
															<ins>5</ins>
															<span>Listings</span>
														</div>
													</li>
													<li>
														<div class="lisitng-dt2">
															<ins>15</ins>
															<span>Followers</span>
														</div>
													</li>
													<li>
														<div class="lisitng-dt2">
															<ins>5</ins>
															<span>Following</span>
														</div>
													</li>
												</ul>
											</div>
											<button class="folow-btn" type="button">Follow</button>
										</div>
									</div>
									<div class="col-lg-3 col-sm-12">
										<div class="my-listing-dt-all-follow">
											<div class=" my-lisiting-picy">
												<a href="user_detail_view.html"><img src="images/my_profile/dp-5.jpg" alt=""></a>
											</div>
											<a href="user_detail_view.html"><h4>Jass Singh</h4></a>
											<p> <i class="fas fa-map-marker-alt"></i>India </p>
											<div class="dashboard-main-dt-follow">
												<ul>
													<li>
														<div class="lisitng-dt2">
															<ins>12</ins>
															<span>Listings</span>
														</div>
													</li>
													<li>
														<div class="lisitng-dt2">
															<ins>150</ins>
															<span>Followers</span>
														</div>
													</li>
													<li>
														<div class="lisitng-dt2">
															<ins>198</ins>
															<span>Following</span>
														</div>
													</li>
												</ul>
											</div>
											<button class="folow-btn" type="button">Follow</button>
										</div>
									</div>
									<div class="col-lg-3 col-sm-12">
										<div class="my-listing-dt-all-follow">
											<div class=" my-lisiting-picy">
												<a href="user_detail_view.html"><img src="images/my_profile/dp-2.jpg" alt=""></a>
											</div>
											<a href="user_detail_view.html"><h4>Joy Dua</h4></a>
											<p> <i class="fas fa-map-marker-alt"></i>India </p>
											<div class="dashboard-main-dt-follow">
												<ul>
													<li>
														<div class="lisitng-dt2">
															<ins>10</ins>
															<span>Listings</span>
														</div>
													</li>
													<li>
														<div class="lisitng-dt2">
															<ins>120</ins>
															<span>Followers</span>
														</div>
													</li>
													<li>
														<div class="lisitng-dt2">
															<ins>165</ins>
															<span>Following</span>
														</div>
													</li>
												</ul>
											</div>
											<button class="folow-btn" type="button">Follow</button>
										</div>
									</div>
									<div class="col-lg-3 col-sm-12">
										<div class="my-listing-dt-all-follow">
											<div class=" my-lisiting-picy">
												<a href="user_detail_view.html"><img src="images/my_profile/dp-6.jpg" alt=""></a>
											</div>
											<a href="user_detail_view.html"><h4>Brook Doe</h4></a>
											<p> <i class="fas fa-map-marker-alt"></i>Canada </p>
											<div class="dashboard-main-dt-follow">
												<ul>
													<li>
														<div class="lisitng-dt2">
															<ins>11</ins>
															<span>Listings</span>
														</div>
													</li>
													<li>
														<div class="lisitng-dt2">
															<ins>110</ins>
															<span>Followers</span>
														</div>
													</li>
													<li>
														<div class="lisitng-dt2">
															<ins>125</ins>
															<span>Following</span>
														</div>
													</li>
												</ul>
											</div>
											<button class="folow-btn" type="button">Follow</button>
										</div>
									</div>
								</div>
							</div>
							<div class="view-spinner">
								<div class="spinner-border" role="status">
									<span class="sr-only">Loading...</span>
								</div>
							</div>
						</div>
					</div>
			

{% endblock %}
