<!DOCTYPE html>
<html lang="en">
<!-- old ip107.180.3.38 -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
	<!-- Favicon -->
	<link href="../media/home/img/fav.png" rel="shortcut icon" type="image/x-icon"/>

    <title>{% block title %}{% endblock %} </title>

    <!-- Bootstrap core CSS-->
    <link href="../media/home/css/bootstrap.min.css" rel="stylesheet">
	<link href="../media/home/css/style.css" rel="stylesheet">
	<link href="../media/home/css/responsive.css" rel="stylesheet">
	<link href="../media/home/css/svg.css" rel="stylesheet">
<link href="../media/home/css/jquery.mCustomScrollbar.min.css" rel="stylesheet">
	<!-- Custom fonts for this template-->
	<link href="../media/home/css/themify-icons.css" rel="stylesheet">
	<link rel="stylesheet" href="../../../../use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

	<!-- Page level plugin CSS-->
    <link rel="stylesheet" href="../media/home/css/portfolio.css" type="text/css">
    <link rel="stylesheet" href="../media/home/css/owlslider.css" type="text/css">

	<!-- Custom styles for this template-->
    <link href="../media/home/css/sb-admin.css" rel="stylesheet" type="text/css">
    <link href="../media/home/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="../media/home/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="../media/home/assets/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../media/home/assets/owlcarousel/assets/owl.theme.default.min.css">
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link href="../media/assets/css/res_sidebar.css" rel="stylesheet" type="text/css">

  <style media="screen">
  @media only screen and (max-width: 500px) {
  #sidebarToggle {
  display: None;
  }
  #wrapper{
    background:#fff;
  }

  }
  @media only screen and (min-width: 500px) {
  #st {
  display: None
  }
  }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  </head>

  <body id="page-top" >

      {% include 'navbar.html' %}
      <script type="text/javascript">
        if(screen.width<500) {
        var element1 = document.getElementById("page-top");
        element1.classList.add("sidebar-toggled");
      }

      </script>

	<div class="full-width">
	<div id="wrapper">
      <!-- Sidebar -->
		  {% include "sidebar.html" %}
		<div id="content-wrapper">
			<div class="container-fluid pb-0">
			 <!-- Banner -->
				<div class="row">
					<div class="col-md-12">
						<div class="advertisment-banner">
							<div class="row">
								<div class="col-xl-12 col-lg-12 col-sm-12">
                  {% include 'slider.html' %}
								</div>

							</div>
						</div>
					</div>
				</div>
				  <!-- Banner Area-->

	{% block body %}{% endblock %}
   <!--#Spiner-->
   	</div>
	</div>
      <!-- /.content-wrapper -->
    </div>
	</div>

    <!-- /#wrapper -->
			<!-- Sticky Footer -->
      {% include 'footer.html' %}
		


    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="ti-arrow-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="../media/home/js/jquery.min.js"></script>
    <script src="../media/home/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

   <!-- Core plugin JavaScript-->
    <script src="../media/home/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../media/home/js/sb-admin.min.js"></script>
	<script src="../media/home/js/portfolio.js"></script>
	<script src="../media/home/js/you-listing.js"></script>
	<script src="../media/home/js/menurght.js"></script>
	<script src="../media/home/js/crausal1.js"></script>

	<!-- Demo scripts for this page-->
   	<script src="../media/home/js/slick.min.js"></script>

	<!-- Assect scripts for this page-->
	<script src="../media/home/assets/vendors/jquery.min.js"></script>
    <script src="../media/home/assets/owlcarousel/owl.carousel.js"></script>
	 <script src="../media/home/assets/vendors/highlight.js"></script>
    <script src="../media/home/assets/js/app.js"></script>
    <script src="../media/home/js/jquery.mCustomScrollbar.js"></script>
    <script src="../media/home/js/Scrollbar.js"></script>
    <script src="../media/home/js/jquery.mCustomScrollbar.js"></script>
  	<script src="../media/home/js/Scrollbar.js"></script>
    <script src="../media/assets/js/res_sidebar.js"></script>

  </body>

</html>
