{% extends 'header.html' %}
{% block title %}Travel As You Go | Find Your Activity Facility & Near By Place{% endblock %}

	<!--#Places & Events Listing Start -->
  {% block body %}

     <!-- Profile Detail Area Start-->
      <div class="row">
        <div class="col-lg-4 msg col-sm-12">
          <div class="rightbox">
            <div class="rightside">
              <a href="#"><img src="="../media/home/images/listing/search.png" alt=""></a>
              <input type="text" placeholder="Enter a keyword">
            </div>
            <div class="msg-scroll">
              <div class="rightmsg">
                <div class="message-radius">
                  <img src="="../media/home/images/messages/1_chat.jpg" alt="" title="" >
                </div>
                <div class="message-heading">
                  Rock William
                  <p>Hi what are you doing</p>
                </div>
                <div class="message-heading1">
                  <span>Today, 02.00PM</span>
                </div>
                <div class="clearfix"></div>
                <hr>
              </div>
              <div class="rightmsg">
                <div class="message-radius">
                  <img src="../media/home/images/messages/2_chat.jpg" alt="" title="" >
                </div>
                <div class="message-heading">
                  Rock William
                  <p>Hi how are you miss</p>
                </div>
                <div class="message-heading1">
                  <span>Today, 02.50PM</span>
                </div>
                <div class="clearfix"></div>
                <hr>
              </div>
              <div class="rightmsg">
                <div class="message-radius">
                  <img src="../media/home/images/messages/3_chat.jpg" alt="" title="" >
                </div>
                <div class="message-heading">
                  Johnson Dua
                  <p>Hi how are you Today</p>
                </div>
                <div class="message-heading1">
                  <span>Yesterday, 11.50AM</span>
                </div>
                <div class="clearfix"></div>
                <hr>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-md-12 col-sm-12">
          <div class="main-conversation-box">
            <div class="message-bar-head">
              <div class="usr-msg-details">
                <div class="usr-ms-img">
                  <img src="../media/home/images/messages/1_chat.jpg" alt="" class="mCS_img_loaded">
                </div>
                <div class="usr-mg-info">
                  <h3>John Doe</h3>
                  <p>Online</p>
                </div><!--usr-mg-info end-->
              </div>
              <div class="message-heading2">
                <i class="fas fa-trash-alt"></i>
              </div>
            </div><!--message-bar-head end-->
            <div class="messages-line mCustomScrollbar _mCS_1">
              <div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" tabindex="0" style="max-height: none;">
                <div id="mCSB_1_container" class="mCSB_container" style="position: relative; top: 0px; left: 0px;" dir="ltr">
              <div class="main-message-box">
                <div class="messg-usr-img">
                  <img src="../media/home/images/messages/1_chat.jpg" alt="" class="mCS_img_loaded">
                </div><!--messg-usr-img end-->
                <div class="message-dt">
                  <div class="message-inner-dt img-bx">
                    <img src="../media/home/images/resources/mt-img1.png" alt="" class="mCS_img_loaded">
                    <img src="../media/home/images/resources/mt-img2.png" alt="" class="mCS_img_loaded">
                    <img src="../media/home/images/resources/mt-img3.png" alt="" class="mCS_img_loaded">
                  </div><!--message-inner-dt end-->
                  <span>Sat, Aug 23, 1:08 PM</span>
                </div><!--message-dt end-->
              </div><!--main-message-box end-->
              <div class="main-message-box ta-right">
                <div class="message-dt">
                  <div class="message-inner-dt">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum congue leo eget malesuada. Vivamus suscipit tortor eget felis porttitor.</p>
                  </div><!--message-inner-dt end-->
                  <span>Sat, Aug 23, 1:08 PM</span>
                </div><!--message-dt end-->
              </div><!--main-message-box end-->
              <div class="main-message-box st3">
                <div class="message-dt st3">
                  <div class="message-inner-dt">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum congue leo eget.</p>
                  </div><!--message-inner-dt end-->
                  <span>5 minutes ago</span>
                </div><!--message-dt end-->
                <div class="messg-usr-img">
                  <img src="../media/home/images/messages/5_chat_small.jpg" alt="" class="mCS_img_loaded">
                </div><!--messg-usr-img end-->
              </div><!--main-message-box end-->
              <div class="main-message-box ta-right">
                <div class="message-dt">
                  <div class="message-inner-dt">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum congue leo eget malesuada. Vivamus suscipit tortor eget felis porttitor.</p>
                  </div><!--message-inner-dt end-->
                  <span>Sat, Aug 23, 1:08 PM</span>
                </div><!--message-dt end-->
              </div><!--main-message-box end-->
              <div class="main-message-box st3">
                <div class="message-dt st3">
                  <div class="message-inner-dt">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum congue leo eget </p>
                  </div><!--message-inner-dt end-->
                  <span>Typing...</span>
                </div><!--message-dt end-->
                <div class="messg-usr-img">
                  <img src="../media/home/images/messages/5_chat_small.jpg" alt="" class="mCS_img_loaded">
                </div><!--messg-usr-img end-->
              </div><!--main-message-box end-->

            </div><div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-light mCSB_scrollTools_vertical" style="display: block;"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; display: block; height: 458px; max-height: 594px; top: 0px;"><div class="mCSB_dragger_bar" style="line-height: 30px;"></div></div><div class="mCSB_draggerRail"></div></div></div></div></div><!--messages-line end-->
            <div class="message-send-area">
              <form>
                <div class="mf-field">
                  <input type="text" name="message" placeholder="Type a message here">
                  <button type="submit">Send</button>
                </div>

              </form>
            </div><!--message-send-area end-->
          </div><!--main-conversation-box end-->
        </div>
      </div>

  {% endblock %}
	<!--#owl Slider End-->
