

  <div class="row" >

    <section id="demos1" >
      <div class="col-md-12" >
        <div class="large-12 columns" >
          <div class="owltab owl-carousel owl-theme " >

          {% for c in cat_id %}

          <div class="item" >
            <div class="box" >
            <div class="box-img" >
              <a href="/park-detail/{{r.id}}"  > </a>
              <img src="../../media/{{c.image}}" class="img" alt="" title="" style="height:100px; margin-bottom:8%;">


            </div>

            <div class="box-heading3" style="margin-left:5%;">
            <a  > {{c.name}}</a>
            </div>
          </div>
          </div>
          {% endfor %}




          </div>
        </div>
      </div>
    </section>
  </div>
