
<div class="locatins heading">
  <div class="heading">
    <img src="../media/home/images/svg/tag.svg" alt=""><h3>Hotel</h3>
  </div>
    <div class="row" >
      <section id="demos1" >
        <div class="col-md-12" >
          <div class="large-12 columns" >
            <div class="owltab owl-carousel owl-theme " >

            {% for hotel in hotel_api %}
            {{hotel.cat}}
            {% if hotel.cat|lower == 'hotel'|lower %}
            <div class="item" >
              <div class="box" >
              <div class="box-img" >
                <a href="https://www.tripadvisor.in/Search?q={{hotel.h_name}}"  >
                <img src="{{hotel.h_img}}" class="img" alt="" title="" style="height:100px; margin-bottom:8%;">

                </a>

              </div>

              <div class="box-heading3" style="margin-left:5%;">
            <a href="https://www.tripadvisor.in/Search?q={{hotel.h_name}}"  >  {{hotel.h_name}}  </a> <br>

              </div>
              <div class="message-heading1" style="margin-top:-10%;">
                <span style="color:orangered;">{{hotel.km|floatformat:2}} Miles &nbsp;</span>
              </div>
            </div>
            </div>

            {% endif %}
            {% endfor %}
            </div>
          </div>
        </div>
      </section>
    </div>
  <div class="clearfix"></div>
</div>
<!--XXXXXXX-END-XXXXXXXX-->

<!--XXXXXXX-Recommended-XXXXXXXX-->
<div class="locatins heading">
  <div class="heading">
    <img src="../media/home/images/svg/tag.svg" alt=""><h3>Recommended</h3>
  </div>
    <div class="row" >
      <section id="demos1" >
        <div class="col-md-12" >
          <div class="large-12 columns" >
            <div class="owltab owl-carousel owl-theme " >

            {% for hotel in hotel_api %}
            {% if hotel.cat|lower != 'hotel'|lower %}
            <div class="item" >
              <div class="box" >
              <div class="box-img" >
                <a href="https://www.tripadvisor.in/Search?q={{hotel.h_name}}"  >
                <img src="{{hotel.h_img}}" class="img" alt="" title="" style="height:100px; margin-bottom:8%;">
              </a>
              </div>

              <div class="box-heading3" style="margin-left:5%;">
            <a href="https://www.tripadvisor.in/Search?q={{hotel.h_name}}" >  {{hotel.h_name}}</a>
              </div>
              <div class="message-heading1" style="margin-top:-10%;">
                <span style="color:orangered;">{{hotel.km|floatformat:2}} Miles &nbsp;</span>
              </div>

            </div>
            </div>
            {% endif %}
            {% endfor %}
            </div>
          </div>
        </div>
      </section>
    </div>
  <div class="clearfix"></div>
</div>
