
<div class="gNav-mask" aria-hidden="true" tabindex="-1" onclick="gNavClose();"></div>

<div id="gNav-beforeE" tabindex="-1" onfocus="chgFocus('.gNav-closeBtn');"></div>
<div class="gNav" id="menuList-C" style="background:#fff;">
  <div class="logo" style="margin-left:12%;; margin-top:-15%;">
    <a href="/">
    <img src="../media/home/img/log1.png" alt="logo" style=" height:35px;">
    </a>
  </div>
<ul aria-label="Global navigation menu" class="ls--n">
  <li>
    <a href="/" class="gNav-link1 m0 fa fa-home" style="font-size:20px; color:#34495E;"> Home</a>
  </li>
  <li>
    <a href="/covid" class="gNav-link1 m0 fa fa-globe" style="font-size:20px; color:#34495E;"> COVID 19</a>
  </li>
  <li>
    <a href="/virtual_list" class="gNav-link1 m0 fa fa-map-pin" style="font-size:20px; color:#34495E;"> Virtual</a>
  </li>
  <li>
    <a href="/save-park" class="gNav-link1 m0 fa fa-heart" style="font-size:20px; color:#34495E;"> Wishlist</a>
  </li>
  <li>
    <a href="/trending" class="gNav-link1 m0 fa fa-eye" style="font-size:20px; color:#34495E;"> Trending</a>
  </li>
  <li>
    <a href="/news" class="gNav-link1 m0 fa fa-newspaper-o" style="font-size:20px; color:#34495E;"> News</a>
  </li>
  <li>
    <a href="/faq" class="gNav-link1 m0 fa fa-question-circle" style="font-size:20px; color:#34495E;"> FAQ</a>
  </li><li>
    <a href="/feedback" class="gNav-link1 m0 fa fa-comments" style="font-size:20px; color:#34495E;"> Send Feedback</a>
  </li>

</ul>

</div>

<div id="gNav-afterE" tabindex="-1" onfocus="chgFocus('.searchCharaInput');"></div>
