

  <div class="row" >

    <section id="demos1" >
      <div class="col-md-12" >
        <div class="large-12 columns" >
          <div class="owl-carousel owl-theme" >

            {% for r in recomm_loc %}

          <div class="item" >
            <div class="box" >
            <div class="box-img" >
              <a href="/park-detail/{{r.id}}"  > </a>
              <img src="../../media/{{r.thumbnail1}}" class="img" alt="" title="" style="height:100px;">


            </div>

            <div class="box-heading3" >
            <a href="/park-detail/{{r.id}}" style="margin-left:5%;">{{r.name|slice:":16"}}</a>
            </div>
          </div>
          </div>
          {% endfor %}

        


          </div>
        </div>
      </div>
    </section>
  </div>
