<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
	<!-- Favicon -->
	<link href="../media/home/img/fav.png" rel="shortcut icon" type="image/x-icon"/>

    <title>Travel As You Go | Find Your Activity Facility & Near By Place </title>

    {% include 'data_css.html' %}
  </head>

  <body id="page-top">

	<!-- Social Account Share Model Start -->
	<div class="modal fade" id="sharelisitng" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered none" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<ul class="share-options">
						<li>
							<a href="#"><i class="fa fa-facebook-f" style="background-color: #3b5998;"></i> Facebook </a>
						</li>
						<li>
							<a href="#"><i class="fa fa-twitter" style="background-color: #4099FF;"></i> Twitter </a>
						</li>
						<li>
							<a href="#"><i class="fa fa-whatsapp" style="background-color: #128c7e;"></i> Whatsapp </a>
						</li>
						<li>
							<a href="#"><i class="fa fa-telegram" style="background-color: #0088cc;"></i> Telegram </a>
						</li>
						<li>
							<a href="#"><i class="fa fa-pinterest" style="background-color: #C92228;"></i> Pinterest </a>
						</li>
						<li>
							<a href="#"><i class="fa fa-google-plus" style="background-color: #D34836;"></i> Google+ </a>
						</li>
						<li>
							<a href="#"><i class="fa fa-linkedin" style="background-color: #0077B5;"></i> LinkedIn </a>
						</li>
						<li>
							<a href="#"><i class="far fa-clone" style="background-color:#95a5a6;"></i> Copy Link </a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- Social Account Share Model End -->
  {% include 'navbar.html' %}
  <script type="text/javascript">
    if(screen.width<500) {
    var element = document.getElementById("page-top");
    element.classList.add("sidebar-toggled");
  }
  </script>
{% for i in data %}
	<div class="full-width">
		<div id="wrapper">
		  <!-- Sidebar -->
      {% include "sidebar.html" %}
			<div id="content-wrapper">
				<div class="container-fluid pb-0">
				 <!-- Profile Detail Area Start-->
					<div class="video-block section-padding">
						<div class="main-item">
							<div class="row">


								<!-- Profile Detail Area End-->
                <div class="col-md-12 px-0">
									<div class="profile-area">
										<div class="bnnr-img-dpt">
										<div class="featured-section profile-cover profile-cover-image"  style="background-image: url(../media/{{i.image}})"></div>
											<div class=" dash-profile">
												<img src="../media/{{i.image}}" alt="">
											</div>
										</div>
										<div class="item-dt">
											<div class="item-title">
												<h4>{{i.name}} </h4>

											</div>

										</div>
									</div>
								</div>
								<!--Nav Tabs Start -->
								<div class="row item-detail-tabs">
									<div class="col-xl-12 com-md-12 col-sm-12 px-0">
                    <ul class="nav  nav-tabs" role="tablist" id="myTab">
											<li role="presentation">
												<a class="active" href="#profile" aria-controls="profile" role="tab" data-toggle="tab"> Park Details </a>
											</li>
											<li role="presentation">
												<a href="#gallery" aria-controls="reviews" role="tab" data-toggle="tab"> Take  Tour  </a>
											</li>

											<li role="presentation">
												<a class="more-options" type="button" data-toggle="modal" data-target="#sharelisitng"> Share </a>
											</li>



										</ul><!--Nav Tabs End -->

										<!--Tabs Panes Start -->
										<div class="tab-content">
											<div class="tab-pane active" role="tabpanel" id="profile">
												<div class="row lr-row">
													<div class="col-md-12">
														<div class=" locatins">
															<div class="heading">
																<img src="../media/home/images/svg/menu1.svg" alt=""><h3>Description</h3>
															</div>
															<div class="sub-heading">
																{{i.description}}
															</div>
															<div class="clearfix"></div>
														</div>


													</div>

												</div>
											</div>

											<div class="tab-pane" role="tabpanel" id="gallery">
												<div class="video-block section-padding">
													<div class="row lr-row mdb-lightbox">
														<div id="demo-test-gallery" class="demo-gallery" data-pswp-uid="1">
															<div class="gallery-sets">
																<iframe width="100%" height="450px;" src={{i.url}} frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


															</div>
														</div>
													</div>
												</div>

											</div>


										</div>
										<!--Tabs Panes End -->
									</div>
								</div>
								<!--Tab Links End-->
							</div>
						</div>
					</div>
			</div>
		  <!--content-wrapper End-->
		</div>
	</div>
	</div>
{% endfor %}
    <!--wrapper -->
			<!-- Sticky Footer -->

    <!-- Scroll to Top Button Start-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="ti-arrow-up"></i>
    </a>
	<!-- Scroll to Top Button End-->

    <!-- Bootstrap core JavaScript-->
    <script src="../media/home/js/jquery.min.js"></script>
    <script src="../media/home/js/bootstrap.min.js"></script>

	<!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
	<script src='../../../../api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.js'></script>

    <!-- Custom scripts for all pages-->
    <script src="../media/home/js/sb-admin.min.js"></script>
	<script src="../media/home/js/you-listing.js"></script>
	<script src="../media/home/js/menurght.js"></script>
	<script src="../media/home/js/crausal1.js"></script>
	<script src="../media/home/js/custom.js"></script>
	<script src="../media/home/js/photoswipe.min.js"></script>
	<script src="../media/home/js/photoswipe-ui-default.min.js"></script>

	<!-- Demo scripts for this page-->
   	<script src="../media/home/js/slick.min.js"></script>

	<!-- Assect scripts for this page-->
	<script src="../media/home/assets/vendors/jquery.min.js"></script>
    <script src="../media/home/assets/owlcarousel/owl.carousel.js"></script>
    <script src="../media/assets/js/res_sidebar.js"></script>

	<script>
	var acc = document.getElementsByClassName("faq-accordion");
	var i;

	for(i = 0; i < acc.length; i++){
		acc[i].addEventListener("click", function(){
		this.classList.toggle("active");

			var panel = this.nextElementSibling;
			if(panel.style.display === "block"){
				panel.style.display = "none";
			} else {
				panel.style.display ="block";
			}
		});
	}

	</script>

  </body>

</html>
